body{
    background-color: #2a2b2e;
    font-family: Play, serif;
}

header{
    background-color: #2a2b2e;
    height: 200px;
    text-align: center;
}
header h1{
    color: #35ff36;
    font-family: "EB Garamond", serif;
    font-size: 70px;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}
h1{
    color: #bfc0c0;
    font-family: "EB Garamond", serif;
    padding-left: 2%;
}

#mapid{
    margin: 20px 10%;
    height: 480px;
    width: 80%;
    border-style: groove;
}
#weather_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height:auto;
    border-style: groove;
    border-color: #2a2b2e;
    border-radius: 5px;
    margin: 20px 20px 10px 20px;
    background-color: #aceb98;
    padding: 5px 5px 5px 5px;
}
#map_weather_box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Play, serif;
}

#city{
    font-weight: bold;
}

.galleria ul{
    list-style-type: none;
}

#navigation_bar {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 0.4%;

}
nav ul{
    list-style-type: none;
    padding: 0;

}
nav li{
    display: inline-block;
    float: left;
    width: 16%;
    padding: 0 0 0 4px;
    font-family: Play, serif;
}
nav a:link, nav a:visited{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    background-color: #5a5a66;
    width: 95%;
    color: #2a2b2e;
}
nav a:hover{
    background-color: #aceb98;;
}
p{
    margin: 10px 20px 10px 20px;
}
#clock{
    background-color: #bfc0c0;
    align-content: center;
    margin: 3% 20% 10%;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#clock p{

    font-size: x-large;
    text-align: center;
    font-family: Play, serif;
}
#clock_button{
    border-radius: 12px;
    padding: 20px 40px 20px 40px;
    font-family: Play, serif;
    align-content: center;
    margin-left: 44%;
}
#video_box{
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
#help_video{
    padding-left: 5%;
    padding-bottom: 1%;
}
#video{
    padding-left: 5%;
}
form{
    padding-left: 55%;
    padding-bottom: 5%;
    color: #aceb98;
}

#username_box{
    height: 25px;
    width: 40%;
    margin-right: 5px;
    border-radius: 2px;
}

#username_button{
    height: 30px;
    margin-right: 5px;
    border-radius: 2px;
    background-color: #aceb98;
}
#playlist_button{
    height: 30px;
    margin-right: 1px;
    border-radius: 2px;
    width: 50px;
    margin-left: 5px;
}

#kysymys_list ul {
    list-style-type: none;
    padding: 1% 6% 3% 2%;
    font-family: Play, serif;
}
.collapsible {
    background-color: #5a5a66;
    color: #2a2b2e;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: inherit;
}
.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    font-family: inherit;
}
.active, .collapsible:hover {
    background-color: #bfc0c0;
    font-family: inherit;
}
.tekijat ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #bfc0c0;
}
.galleria ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #aceb98;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;

}
.galleria p{
    font-family: Play, serif;
    color: #bfc0c0;
    padding-left: 1%;
}
.pohja{
    color: #bfc0c0;
    font-family: Play, serif;
}
.pohja p{
    padding-left: 1%;
    color: #bfc0c0;
}

.pohja a{
    text-decoration: none;
    color: #bfc0c0;
    font-size: larger;
}
.pohja a:hover{
    color: #aceb98;
}

/*
Kun ruudun leveys on alle 820 pikseliä
 */
@media only screen and (max-width: 820px){
    #mapid{
        margin: 10px 10%;
    }
    #weather_box{
        margin: 10px 10px 5px 10px;
    }
    p{
        margin: 8px;
    }
}