#mapid{
    margin: 20px;
    height: 480px;
    width: 70%;
    border-style: groove;
}
#weather{
    margin: 10px;
    height: 100px;
    width: 25%;
    border-style: groove;
    display: flex;
}
#weather_box{
    display: flex;
    flex-direction: row;
    width: 40%;
}
p{
    margin: 10px;
}