body{
    background-color: #2a2b2e;
}
#mapid{
    margin: 20px 10%;
    height: 480px;
    width: 80%;
    border-style: groove;
}
#weather_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height:auto;
    border-style: groove;
    border-color: black;
    margin: 20px 20px 10px 20px;
    background-color: #aceb98;
}
#map_weather_box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#city{
    font-weight: bold;
}
#navigation_bar{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-style: groove;
    border-color: black;
}
nav ul{
    list-style-type: none;
    padding: 3%;
}
nav li{
    display: inline;
    float: left;
}
nav a:link, nav a:visited{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    background-color: #bfc0c0;
    width: 95%;
    color: #2a2b2e;
}
nav a:hover{
    background-color: #aceb98;;
}
p{
    margin: 10px 20px 10px 20px;
}
/*
Kun ruudun leveys on alle 820 pikseliä
 */
@media only screen and (max-width: 820px){
    #mapid{
        margin: 10px 10%;
    }
    #weather_box{
        margin: 10px 10px 5px 10px;
    }
    p{
        margin: 8px;
    }
}